.userNoteFeedContainer{
    background-color: var(--bg);
}

.userNoteFeedTitle{
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 20px 0 20px 15px;
    border-bottom: 1px solid var(--soft);
    color: var(--text);
}