.userBooksContainer {
  display: flex;
  justify-content: flex-end;
  max-width: 1200px;
  min-height: 100vh;
  width: 100%;
  margin: 0 auto;
}

.booksFeedTop {
  display: flex;
  flex-direction: column;
}

.booksFeedTopTitles {
  display: flex;
  justify-content: space-between;
}

.booksFeedNewShelfButton {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  color: var(--text);
  border: 1px solid var(--soft);
  transition: 0.2s all ease-in-out;
}

.booksFeedNewShelfButton:hover {
  background-color: var(--hover);
  border-color: var(--hover);
}

.userBooksContainer .userBooksTimeline {
  width: 46%;
  min-height: 100vh;
  border-right: 1px solid var(--soft);
  border-left: 1px solid var(--soft);
}

.booksFeedNewShelfModal {
  width: 100%;
  flex-direction: column;
  padding: 15px;
  margin-top: 25px;
  border: 1px solid var(--soft);
  border-radius: 10px;
  background-color: var(--bg);
}

.booksFeedNewShelfModal input {
  padding: 15px 30px;
  margin: 10px 0;
  font-size: 15px;
  border: 2px solid var(--soft);
  border-radius: 10px;
  background-color: inherit;
  color: var(--text);
}

.booksFeedNewShelfModal input::placeholder{
  color: var(--textSoft);
}

.booksFeedNewShelfModal label {
  margin: 10px 0;
  font-size: 18px;
  font-weight: 700;
  color: var(--text);
}

.booksFeedCreateShelfButton {
  cursor: pointer;
  padding: 10px;
  margin-left: auto;
  margin-top: 5px;
  border-radius: 10px;
  border: 1px solid var(--soft);
  text-align: center;
  background-color: var(--bg);
  color: var(--text);
  transition: .2s all ease-in-out;
}

.booksFeedCreateShelfButton:hover {
  background-color: var(--hover);
  border-color: var(--hover);
}
