.bookStatusModalContainer {
  width: 525px;
  position: fixed;
  z-index: 9999;
  top: 7%;
  left: 36.3%;
  background-color: lightgray;
  padding: 20px;
  border-radius: 10px;
}

.bookStatusTopContainer {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid gray;
}

.bookStatusModalClose {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  padding: 7px;
}

.bookStatusTopContainer svg {
  font-size: 45px;
}

.bookStatusModalTitle {
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  padding-bottom: 15px;
}

.bookStatusModalTopside {
  margin-top: 20px;
  display: flex;
}

.bookStatusModalImg {
  width: 20%;
  height: 160px;
}

.bookStatusModalImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.bookStatusModalButtonContainer {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  padding: 10px 20px;
}

.bookStatusModalButtonContainer label {
  cursor: pointer;
  width: 47%;
  height: 56px;
  font-weight: 500;
  border: 2px solid rgb(144, 144, 144);
  border-radius: 10px;
  transition: all 0.3s;
  padding: 15px;
  margin-right: 10px;
  text-align: center;
}

.bookStatusModalButtonContainer input[type="radio"] {
  display: none;
}

.bookStatusModalButtonContainer input {
  margin-right: 10px;
}

.bookStatusModalButtonContainer input[type="radio"]:checked + label {
  border: solid 2px rgb(221, 39, 22);
  background-color: rgb(210, 62, 48);
  color: white;
}

.bookStatusModalBookInfo {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.bookStatusModalPages {
  font-size: 17px;
  font-weight: 500;
  margin-top: 5px;
}

.bookStatusModalDate {
  font-size: 17px;
  font-weight: 500;
  margin-top: 5px;
}

.bookStatusModalShelf {
  margin-top: 20px;
}

.bookStatusModalShelfTitle {
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  padding-bottom: 15px;
  border-bottom: 1px solid gray;
}

.bookStatusModalUpdateButton {
  cursor: pointer;
  width: 26%;
  font-weight: 500;
  border: 2px solid rgb(144, 144, 144);
  border-radius: 10px;
  transition: all 0.3s;
  padding: 10px;
  margin-right: 10px;
  text-align: center;
  font-size: 15px;
  margin-top: 25px;
  margin-left: auto;
}

.bookStatusModalDates {
  display: flex;
  margin-top: 20px;
}

.bookStatusModalMultipleContainer {
  display: flex;
  flex-direction: column;
  margin-right: 50px;
}

.bookStatusModalDates input {
  padding: 15px 10px;
  margin: 10px 0;
  font-size: 15px;
  border: 2px solid rgb(144, 144, 144);
  border-radius: 10px;
  margin-right: 15px;
  text-align: left;
  background-color: inherit;
}

.bookStatusModalDates label {
  font-weight: 700;
}

.bookStatusModalAllShelfs {
  height: 225px;
  max-height: 225px;
  overflow-y: scroll;
}

.bookStatusModalAllShelfsItem {
  display: flex;
  align-items: center;
  border-bottom: 1px solid gray;
}

.bookStatusModalAllShelfsItem input {
  width: 20px;
  height: 20px;
}

.bookStatusModalAllShelfsItem label {
  width: 95%;
  padding: 10px;
}

.bookStatusModalAllShelfsItem input[type="checkbox"]:checked {
  border: solid 2px rgb(221, 39, 22);
  background-color: rgb(210, 62, 48);
  color: white;
}
