.bookShelfContainer{
    padding: 15px;
    margin-top: 25px;
    border: 1px solid lightgray;
    border-radius: 10px;
}

.bookShelfName{
    font-size: 18px;
    font-weight: 700;
    text-transform: capitalize;
    margin-bottom: 15px;
}

.bookShelfInfo{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.bookShelfBooksCount{
    font-size: 17px;
    font-weight: 700;
    color: red;
}

.bookShelfMore{
    font-size: 17px;
    font-weight: 700;
    color: red;
}

.bookShelfBooksContent{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-top: 10px;
}