.readingGoalContainer{
    width: 100%;
    margin-top: 20px;
    padding: 15px;
    border-radius: 5px;
    box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
}

.readingGoalTitles{
    display: flex;
    justify-content: space-between;
}

.readingGoalTitle,
.readingGoalCountTitle{
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}

.readingGoalProgress{
    display: flex;
    margin-top: 15px;
}

.readingGoalInfo{
    margin-top: 10px;
    margin-left: 5px;
}

.readingGoalReadedCount{
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 5px;
}


.readingGoalStatus{
    font-size: 14px;
    font-weight: 400;
    color: gray;
    margin-top: 8px;
}