.CurrentBookContainer{
    display: flex;
    margin-top: 20px;
    padding: 15px;
    border-radius: 5px;
    box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
}

.currentBookImg{
    width: 100px;
    min-width: 100px;
    height: 150px;
    border-radius: 5px;
}

.currentBookImg img{
    width: 100%;
    min-width: 100px;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.currentBookInfo{
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    padding-top: 10px;
}

.currentBookName{
    font-size: 16px;
    font-weight: 700;
}

.currentBookAuthor{
    font-size: 15px;
    font-weight: 400;
    color: gray;
}

