.allBooksSearchContainer {
  width: 375px;
  position: relative;
  margin: 0 0 35px 28%;
}

.allBooksSearchInput {
  width: 375px;
  padding: 10px 42px 10px 15px;
  margin: 0 auto;
  font-size: 15px;
  border-radius: 5px;
  border: 1px solid var(--soft);
  background-color: var(--bg);
  color: var(--text);
}

.allBooksSearchInput::placeholder{
  color: var(--textSoft);
}

.allBooksSearchIcon {
  cursor: pointer;
  position: absolute;
  right: 2px;
  top: 2px;
  border: none;
  background-color: transparent;
  padding: 7px 10px;
  color: var(--text);
}
