.profileSettingsFormContainer {
  margin-top: 90px;
  padding: 0 15px;
  padding-bottom: 15px;
}

.profileSettingsFormTitle {
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--text);
}

.profileSettingsFormContainer form {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.profileSettingsFormContainer form section {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 35%;
  text-align: start;
}

.profileSettingsFormContainer form input {
  padding: 15px 30px;
  margin: 10px 0;
  font-size: 15px;
  border: 2px solid var(--soft);
  border-radius: 10px;
  color: var(--text);
  background-color: var(--bg);
}

.profileSettingsFormContainer form input::-webkit-outer-spin-button,
.profileSettingsFormContainer form input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.profileSettingsFormContainer form label {
  margin: 10px 0;
  color: var(--text);
}

.profileSettingsFormContainer form .multiple-input-container {
  display: flex;
  flex-direction: row;
}

.profileSettingsFormContainer form .multiple-input-container input {
  margin-right: 10px;
}

.profileSettingsFormContainer form .multiple-input-container label {
  cursor: pointer;
  padding: 10px;
  border: 2px solid var(--soft);
  border-radius: 10px;
  transition: all 0.3s;
  margin-right: 10px;
  color: var(--text);
}

.profileSettingsFormContainer form input[type="radio"] {
  display: none;
}

.profileSettingsFormContainer form input[type="number"] {
  width: 10%;
}

.profileSettingsFormContainer form input[type="radio"]:checked + label {
  border: solid 2px rgb(221, 39, 22);
}

.profileSettingsFormContainer form input[type="submit"]:hover {
  cursor: pointer;
  background-color: var(--hover);
  border-color: var(--hover);
}

.profileSettingsFormContainer form .registerFormButton {
  cursor: pointer;
}

.profileSettingsFormContainer form textarea {
  height: 150px;
  min-height: 50px;
  max-height: 300px;
  resize: vertical;
  padding: 15px 30px;
  font-size: 15px;
  border: 2px solid var(--soft);
  border-radius: 10px;
  color: var(--text);
  background-color: var(--bg);
}
