.newsPostContainer {
  display: flex;
  flex-direction: column;
  padding: 15px;
  border-radius: 5px;
  box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
  margin-bottom: 50px;
}

.newsPostTopside {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
}

.newsPostTitle {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 10px;
  color: var(--text);
}

.newsPostTimeago {
  font-size: 15px;
  font-weight: 500;
  color: var(--textSoft);
  margin-bottom: 25px;
}

.newsPostMid {
  width: 85%;
  height: 300px;
  margin: 0 auto;
  margin-bottom: 25px;
}

.newsPostMid img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.newsPostBottom {
  padding: 10px 20px;
}

.newsPostText {
  --bs-text-opacity: 1;
  color: var(--text) !important;
  line-height: 1.75;
  margin-bottom: 1rem;
  display: -webkit-box;
  max-width: 100%;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.newsPostSingleText {
  --bs-text-opacity: 1;
  color: var(--text) !important;
  line-height: 1.75;
  margin-bottom: 1rem;
  padding: 10px 20px;
}
