.bookDetailContainer {
    display: flex;
    justify-content: flex-end;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
  }

  .bookDetailContainer .bookDetailTimeline {
    width: 46%;
    min-height: 100vh;
    border-right: 1px solid var(--soft);
    border-left: 1px solid var(--soft);
  }
  