.adminRightBarContainer {
  width: 30%;
  padding: 20px 15px;
}

.adminRightBarContainer ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.adminRightBarContainer ul li {
  width: 100%;
  text-decoration: none;
  list-style: none;
  font-size: 16px;
  text-align: center;
  margin-bottom: 8px;
  border-bottom: 1px solid var(--soft);
  transition: 0.2s all ease-in-out;
}

.adminRightBarContainer ul li:hover {
  background-color: var(--hover);
}

.adminRightBarLinksDiv {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.adminRightBarLinkImage {
  width: 30px;
  height: 30px;
  margin-left: 15px;
}

.adminRightBarLink {
  padding: 10px 14px;
  color: var(--text);
}
