.PostContainer {
  box-sizing: border-box;
  width: 100%;
  padding: 20px 15px;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid lightgray;
  background-color: rgba(240, 248, 255, 0.4);
}

.postTopside {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}

.postUserInfo {
  display: flex;
}

.postUserImg {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.postUserNames {
  margin-left: 15px;
  margin-top: 5px;
}

.postUserFullname {
  font-weight: 700;
  font-size: 16px;
}

.postUserUsername {
  font-weight: 400;
  color: gray;
  font-size: 14px;
  margin-top: 5px;
}

.postTimeago {
  font-size: 14px;
  color: gray;
  margin-left: 15px;
  margin-top: 7px;
  font-weight: 500;
}

.postStatus {
  font-size: 14px;
  color: gray;
  margin-top: 8px;
  text-align: right;
}

.postBookContainer {
  display: flex;
  height: 150px;
  width: 100%;
  border: 1px solid lightgray;
  border-radius: 15px;
  margin-bottom: 20px;
}

.postBookImgDiv {
  width: 100px;
  height: 100%;
  border-radius: 10px;
}

.postBookImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.postBookInfo {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
  margin-top: 20px;
}

.postBookName {
  font-size: 18px;
  font-weight: 700;
  text-transform: capitalize;
}

.postBookAuthor {
  text-transform: capitalize;
  font-size: 17px;
  font-weight: 500;
  margin-top: 5px;
  color: gray;
}

.postBookPages {
  font-size: 16px;
  font-weight: 400;
  margin-top: 5px;
  color: gray;
}

.postBookTextTimeline {
  width: 100%;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 20px;
  display: -webkit-box;
  max-width: 100%;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  padding: 8px;
}

.postBookTextSingle {
  width: 100%;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 20px;
  padding: 8px;
}

.singlePostDetailSeeAll {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
  color: red;
  font-weight: 500;
}

.postActionsContainer {
  display: flex;
  flex-direction: column;
}

.postActions {
  display: flex;
  margin: 5px 0;
}

.postIcon {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 10px;
  background-color: #43464917;
  margin-right: 10px;
  border-radius: 20px;
}

/* .postIcon svg{
  width: 25px;
  height: 25px;
} */

.postActionInfo {
  width: fit-content;
  font-weight: 500;
  font-size: 13px;
  padding: 8px;
  border-radius: 20px;
  transition: 0.2s all ease-in-out;
}

.postActionInfoComment {
  width: auto !important;
  display: block;
}

.postActionInfo:hover {
  background-color: #43464917;
}

.postLiked {
  color: #db1f1f;
}

.hoverActionsText {
  display: none;
  transition: 0.3s all ease-in-out;
}

.postIcon:hover .hoverActionsText {
  width: max-content;
  display: block;
  position: absolute;
  top: 45px;
  margin-left: auto;
  color: #fff;
  background-color: #434649d4;
  border-radius: 20px;
  padding: 5px 8px;
  font-size: 12px;
  font-weight: 400;
  transition: 0.3s all ease-in-out;
}

.postCommentUserRemove {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 10px;
  border-radius: 50%;
  color: #db1f1f;
  transition: 0.2s all ease-in-out;
}

.postCommentUserRemove:hover {
  background-color: #db1f1f17;
}