.myDatePickerOwnContainer select {
  padding: 15px 10px;
  margin: 10px 0;
  font-size: 15px;
  border: 2px solid var(--soft);
  border-radius: 10px;
  margin-right: 15px;
  text-align: left;
  color: var(--text);
  background-color: var(--bg);
}
