*,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: 'Roboto', sans-serif; */
  font-family: "Roboto Slab", serif;
}

body {
  position: relative;
}

#root {
  background-color: #fffaf080;
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background-color: gray;
}

:focus {
  outline: 0;
}

::selection {
  background: #DB1F1F;
  color: #fff;
}