:root {
  --bg: #f9f9f9;
  --bgLighter: white;
  --bgLightest: #e9e9ea;
  --text: black;
  --textSoft: #606060;
  --soft: #e2e2e2;
  --hover: #e9e9ea;
}

[my-data-theme="dark"] {
  --bg: #15202b;
  --bgLighter: #273340;
  --bgLightest: #2c3640;
  --text: white;
  --textSoft: #aaaaaa;
  --soft: rgb(56, 68, 77);
  --hover: #273340;
}

*,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: 'Roboto', sans-serif; */
  font-family: "Roboto Slab", serif;
}

body {
  position: relative;
}

.mydiv {
  background-color: var(--bg);
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background-color: gray;
}

:focus {
  outline: 0;
}

::selection {
  background: #db1f1f;
  color: #fff;
}
