.rightBarContainer {
  display: flex;
  flex-direction: column;
  width: 27%;
  padding: 0 15px;
}

.rightBarLinkContent {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 20px;
}

.rightBarLinkContent ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.rightBarLinkContent ul li {
  width: 100%;
  text-decoration: none;
  list-style: none;
  font-size: 16px;
  text-align: center;
  margin-bottom: 8px;
  border-bottom: 1px solid lightgray;
}

.rightBarLinksDiv {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.rightBarLinkImage {
  width: 30px;
  height: 30px;
  margin-left: 15px;
}

.rightbarLink {
  padding: 10px 14px;
  color: black;
}

.homeRightBarTitle {
  font-size: 20px;
  margin-top: 20px;
  text-transform: uppercase;
}
